﻿@model FinalTaskTry5.ViewModel.UserFilesViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Файловое хранилище", "Disk", "User", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Список людей", "ControlMenu", "User", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Уведомления", "GetRequestAccessMessages", "User", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="main">
    <div class="menu">
        <div class="add-block">
            <div class="add">
                @using (Html.BeginForm("AddFile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="upload" class="addFile" onchange="this.form.submit()" />
                }
                <a class="folder-add-open" href="##">Добавить папку</a>
            </div>
        </div>
        <div class="folder-add-fade">
            <div class="folder-add">
                @using (Html.BeginForm("AddFolder", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        FolderName:
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FolderName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FolderName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Добавить папку" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <a class="add-open" href="#">Добавить</a>
        @Html.ActionLink("Ошибки", "Logger", "User", null, new { @class = "loggerLink" })
    </div>
    <div class="content-block">
        <h2>Папки:</h2>
        <div class="Folder-grid">
            @foreach (var item in Model.User.Folders)
            {
                <div class="folder">
                    <span class="folder-text">
                        @Html.ActionLink($"{item.Name}", "Folder", "User", new { folder = item.Name }, new { @class = "link-button" })
                        @Html.ActionLink("Удалить", "DeleteFolder", "User", new { id= item.Id }, new { @class = "link-button" })
                    </span>
                </div>
            }
        </div>
        <h2>Файлы:</h2>
        <div class="File-grid">
            @foreach (var item in Model.User.Files)
            {
                if (item.Folder is null)
                {
                    <div class="file">
                        <button onclick="cop(@item.Id)">Найти файл</button>
                        <button class="copy_link">Ссылка на файл</button>
                        @Html.ActionLink($"Access:{item.Access}", "ChangeAccess", "User", new { id = @item.Id }, new { @class = "access" })
                        <div class="file-icon">
                            <img src="@FinalTaskTry5.Helpers.FileIconHelper.FileIcon(item.FileName)">
                        </div>
                        <span class="file-text">
                            @item.FileName
                        </span>
                        <div class="bottom-fixed">
                            @Html.ActionLink("Download", "DownloadFile", "User", new { id = @item.Id }, new { @class = "link-button" })
                            @Html.ActionLink("Delete", "DeleteFile", "User", new { id = @item.Id }, new { @class = "link-button" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>