﻿@model FinalTaskTry5.ViewModel.UserFilesViewModel
@{
    ViewBag.Title = "Folder";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Файловое хранилище", "Disk", "User", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Список людей", "ControlMenu", "User", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<h2>@ViewBag.Title : @ViewBag.Folder</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="main">
    <div class="menu">
        <div class="add-block">
            <div class="add">
                @using (Html.BeginForm("AddFileInFolder", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="upload" class="addFile" onchange="this.form.submit()" />
                }
            </div>
        </div>
        <a class="add-open" href="#">Добавить</a>
        @Html.ActionLink("Ошибки", "Logger", "User", null, new { @class = "loggerLink" })
    </div>
    <div class="content-block">
        <h2>Файлы:</h2>
        <div class="File-grid">
            @foreach (var item in Model.User.Files)
            {
                if (item.Folder != null && item.Folder.Name == ViewBag.Folder)
                {
                    <div class="file">
                        <button onclick="cop(@item.Id)">Найти файл</button>
                        <button class="copy_link">Ссылка на файл</button>
                        @Html.ActionLink($"Access:{item.Access}", "ChangeAccess", "User", new { id = @item.Id }, new { @class = "access" })
                        <div class="file-icon">
                            <img src="@FinalTaskTry5.Helpers.FileIconHelper.FileIcon(item.FileName)">
                        </div>
                        <span class="file-text">
                            @item.FileName
                        </span>
                        <div class="bottom-fixed">
                            @Html.ActionLink("Download", "DownloadFile", "User", new { id = @item.Id }, new { @class = "link-button" })
                            @Html.ActionLink("Delete", "DeleteFile", "User", new { id = @item.Id }, new { @class = "link-button" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
