﻿@model FinalTaskTry5.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Файловое хранилище", "Disk", "User", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Логин:</dt>
        <dd>@Model.User.ApplicationUser.UserName</dd>
        <dt>Имя:</dt>
        <dd>@Model.User.Name</dd>
        <dd>[ @Html.ActionLink("Смена имени", "ChangeUserName") ]</dd>
        <dt>Фамилия:</dt>
        <dd>@Model.User.Surname</dd>
        <dd>[ @Html.ActionLink("Смена фамилии", "ChangeUserSurname") ]</dd>
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            ]
        </dd>
    </dl>
</div>
