﻿.add-block {
    width: 100%;
    height: 1000px;
    padding-top: 200px;
    position: fixed;
    padding: 20px;
    display: none;
}

.add {
    width: 250px;
    background: #fff;
    border: 1px solid orange;
}

.add-open {
    display: flex;
    width: 100%;
    height: 50px;
    color: #333333;
    border: 1px solid rgb(118, 118, 118);
    background-color: #EFEFEF;
    padding: 10px;
}
    .add-open:hover, .add-open:focus {
        color: #333333;
        text-decoration: none;
        background-color: rgb(218, 212, 212);
    }

.folder-add-fade {
    width: 100%;
    height: 1000px;
    padding-top: 200px;
    position: fixed;
    padding: 20px;
    display: none;
}

.folder-add {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 320px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.folder-add-open {
    display: flex;
    width: 100%;
    height: 25px;
    color: #333333;
    border: 1px solid rgb(118, 118, 118);
    background-color: #EFEFEF;
    padding: 2px;
}

    .folder-add-open:hover, .add-open:focus {
        color: #333333;
        text-decoration: none;
        background-color: rgb(218, 212, 212);
    }

.loggerLink {
    display: flex;
    width: 100%;
    height: 50px;
    color: #333333;
    border: 1px solid rgb(118, 118, 118);
    background-color: #EFEFEF;
    padding: 10px;
}
    .loggerLink:hover, .loggerLink:focus {
        color: #333333;
        text-decoration: none;
        background-color: rgb(218, 212, 212);
    }

.access {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    color: red;
    border: 1px solid rgb(118, 118, 118);
    padding: 5px;
    background-color: #EFEFEF;
    text-decoration: none;
}

    .access:hover, .access:focus {
        color: red;
        text-decoration: none;
        background-color: rgb(218, 212, 212);
    }

.link-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    color: rgb(92, 179, 176);
    border: 1px solid rgb(118, 118, 118);
    padding: 5px;
    background-color: #EFEFEF;
    text-decoration: none;
}

    .link-button:hover, .access:focus {
        color: rgb(92, 179, 176);
        text-decoration: none;
        background-color: rgb(218, 212, 212);
    }