﻿.main {
    display: flex;
    min-height:200px;
}
.menu {
    width: 15%;
    margin-right: 30px;
}
.content-block {
    width: 85%;
}
.File-grid {
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.Folder-grid {
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.folder {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.file-text {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.file {
    display: flex;
    flex-direction:column;
    width: 100%;
    border: 3px solid rgb(55, 77, 80);
}
.file-icon {
    width: 20%;
    height: 20%;
}
.file-icon img {
    width:100%;
    padding-top: 10px;
}
.file-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

button{
    display:flex;
}

.available-file {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction: column;
    width: 250px;
    border: 2px solid black;
}

.text-success{
    padding-top: 10px;
}

#RememberMe {
    margin-left: 0px;
}

table {
    border: 4px double #333;
    border-collapse: separate;
    border-spacing: 100px 40px;
}

.tableNames{
    font-size: 25px;
    color: black;
}

.bottom-fixed{
    display:flex;
    align-items:flex-end;
    height:100%;
}